.DS_Store
*~
/._dropbox/
/.bash_history
/.bashrc
/.cache/mu/
/.cache/tooling/gradle/
/.config/bitlbee/purple/
/.config/iterm2/
/.config/git/gitk
/.config/htop/htoprc
/.config/karabiner/automatic_backups/
/.config/karabiner/karabiner.json
/.docker/
/.dropbox/
/.CFUserTextEncoding
/.emacs.d/.org-id-locations
/.emacs.d/*.elc
/.emacs.d/elpa/
/.emacs.d/forge-database.sqlite
/.emacs.d/ido.last
/.emacs.d/init.el
/.emacs.d/org-persist/
/.emacs.d/org-roam.db
/.emacs.d/straight/build/
/.emacs.d/straight/build-cache.el
/.emacs.d/straight/repos/
/.emacs.d/transient/
/.emacs.d/url/cookies
/.gnupg/.gpg-v21-migrated
/.gnupg/common.conf
/.gnupg/private-keys-v1.d/
/.gnupg/public-keys.d/
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/trustdb.gpg
/.gradle/.tmp
/.gradle/caches
/.gradle/daemon
/.gradle/jdks
/.gradle/native
/.gradle/notifications
/.gradle/workers
/.gradle/wrapper
/.local/share/karabiner/
/.m2/
/.make/bb.edn
/.make/lib.clj
/.make/babashka-1.3.186-macos-amd64.tar.gz
/.make/babashka-1.3.186-macos-aarch64.tar.gz
/.mu/
/.netrc
/.npm/
/.offlineimap/Account-gmail/LocalStatus-sqlite/
/.offlineimap/Repository-gmail-local/
/.offlineimap/Repository-gmail-remote/
/.offlineimap/err.log
/.offlineimap/last-sync
/.offlineimap/out.log
/.offlineimap/postindex
/.offlineimap/postsync
/.offlineimaprc
/.python_history
/.ssh/
/.zcompcache/
/.zcompdump
/.zsh_history
/.zsh_sessions/
/.zshrc
/bin/bb
/bin/bitlbee
/bin/editor
/bin/emacs
/bin/emacsclient
/bin/gpg2
/bin/make
/bin/offlineimap
/bin/pinentry
/bin/with-java
/bin/worgle
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/.localized
/Library/Application Support/
/Library/Assistant/
/Library/Caches/
/Library/Colors/
/Library/Compositions/
/Library/Contacts/
/Library/Containers/
/Library/DataAccess/
/Library/DataDeliveryServices/
/Library/Developer/
/Library/Dropbox/
/Library/Favorites/
/Library/Finance/
/Library/FontCollections/
/Library/FrontBoard/
/Library/Google/
/Library/Group Containers/
/Library/HTTPStorages/
/Library/Input Methods/
/Library/KeyboardServices/
/Library/Keychains/
/Library/LanguageModeling/
/Library/LaunchAgents/com.dropbox.DropboxMacUpdate.agent.plist
/Library/LaunchAgents/com.google.GoogleUpdater.wake.plist
/Library/LaunchAgents/com.google.keystone.agent.plist
/Library/LaunchAgents/com.google.keystone.xpcservice.plist
/Library/Logs/
/Library/Metadata/
/Library/News/
/Library/Passes/
/Library/Preferences/
/Library/Python/
/Library/QuickLook/
/Library/Saved Application State/
/Library/Spelling/
/Library/Translation/
/Library/UnifiedAssetFramework/
/Library/WebKit/
/Library/com.apple.bluetooth.services.cloud/
/Library/com.apple.iTunesCloud/
/Library/com.apple.icloud.searchpartyd/
/Library/studentd/
/Mail/
/Movies/
/Music/
/Pictures/
/Public/
/src/