.DS_Store
*~
/._dropbox/
/.bash_history
/.bashrc
/.cache/tooling/gradle/
/.config/iterm2/
/.config/git/gitk
/.config/karabiner/automatic_backups/
/.config/karabiner/karabiner.json
/.docker/
/.dropbox/
/.CFUserTextEncoding
/.emacs.d/.org-id-locations
/.emacs.d/*.elc
/.emacs.d/elpa/
/.emacs.d/ido.last
/.emacs.d/init.el
/.emacs.d/org-persist/
/.emacs.d/org-roam.db
/.emacs.d/transient/
/.gnupg/.gpg-v21-migrated
/.gnupg/common.conf
/.gnupg/private-keys-v1.d/
/.gnupg/public-keys.d/
/.gnupg/secring.gpg
/.gnupg/trustdb.gpg
/.gradle/.tmp
/.gradle/caches
/.gradle/daemon
/.gradle/jdks
/.gradle/native
/.gradle/notifications
/.gradle/workers
/.gradle/wrapper
/.local/share/karabiner/
/.m2/
/.make/bb.edn
/.make/lib.clj
/.make/babashka-1.3.186-macos-amd64.tar.gz
/.make/babashka-1.3.186-macos-aarch64.tar.gz
/.python_history
/.ssh/
/.zcompcache/
/.zcompdump
/.zsh_history
/.zsh_sessions/
/.zshrc
/bin/bb
/bin/emacs
/bin/make
/bin/pinentry
/bin/with-java
/bin/worgle
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
/src/worgle/
